extends layout

block content
    h1= title
    p Welcome to #{title}

    div(class='create-wine')
        form(action='/wines',method='post')
            div
                label(for='name') wine name
                    input(id='name',type='text',value='',placeholder='',name='name')
            div
                label(for='grapeId') grape
                select(id='grapeId', name='grapeId')
                    option(value='0') select a grape
                    each grape in grapes
                        option(value=grape.id)= grape.name
            div
                label(for='countryId') country
                select(id='countryId', name='countryId')
                    option(value='0') select a country
                    each country in countries
                        option(value=country.id)= country.name
            div
                input(type='submit',value='submit',data-transition='fade', data-theme='c')
