body {
    padding: 30px;
    font-size: 14px;
    font-family:  Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.wine {
    border-bottom: 1px solid rgb(200, 200, 200);
    margin-bottom: 20px;
    padding-bottom: 10px;
}
